// Me

@media (min-width: 992px){
    .navbar-animation{
        margin-left: 0px !important;
        opacity: 1 !important;
    }
}

.cursorDefault {
	cursor: default;
}

.navbar-animation{
	margin-left: -140px;
	opacity: 0;
	overflow: visible;
	transition: all 0.5s ease;
}

.navbar-collapse.show {
	opacity: 1;
	margin-left: 0px;
}

.test {
	// height: 3000px;
}