@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
	font-family: "Roboto Condensed", sans-serif !important;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Manual CSS Configuration Begin */

@media (max-width: 760px) {
	.myImageBanner {
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(85%);
	}
	.myBannerStyle1Image {
		object-position: 0 50% !important;
	}
	.eventContentImageFrame {
		width: 100% !important;
		overflow: hidden;
	}
	.myBannerEmblemFrame {
		width: 200px !important;
		top: 80px;
	}
	.myBannerStyle4 {
		padding: 10px 1px 10px 1px !important;
	}
}

@media (max-width: 500px) {
	#imageBannerFrame {
		height: 650px !important;
	}
	.myIcareLeaderImageFrame {
		height: 450px !important;
		overflow: hidden;
	}
	.eventContentImageFrame {
		width: 100% !important;
		overflow: hidden;
	}
	.myButtonNavWord {
		font-size: 20px !important;
	}
	.mySkeletonLeaderImage {
		height: 450px !important;
	}
}

@media (max-width: 991px) {
	.myNavbarItems {
		margin-top: 20px;
		margin-left: 30px;
	}
}

@media (max-width: 1000px) {
	.eventContentImageFrame {
		width: 100% !important;
		overflow: hidden;
	}
}

@media (max-width: 1700px) {
	.eventContentImageFrame {
		width: 85% !important;
		overflow: hidden;
	}
}

.myNavbarEmblemFrame {
	margin-left: 30px;
	width: 230px;
	height: 45px;
	overflow: hidden;
	padding: 0;
}

.myNavbarEmblem {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.myNavbarItems {
	margin-right: 55px;
}

.myNavbarItems a {
	color: #ffffff !important;
	margin-right: 50px;
}

.myButtonNav:hover {
	background-color: rgb(90, 90, 90);
	color: #e0e0e0;
}

.myButtonNavActive {
	background-color: rgba(196, 196, 196, 0.2);
}

.myBanner {
	margin-bottom: 100px;
}

.myBannerEmblemFrame {
	width: 300px;
	top: 80px;
}

.myBannerEmblem {
	width: 100%;
}

.myTailEmblemFrame {
	bottom: 5px;
}

.myBannerCenterOverlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.myBannerStyle1 {
	height: 92vh;
}

.myBannerStyle1Image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 100% 50%;
}

.myBannerStyle3 {
	filter: contrast(90%);
}

.myBannerStyle3 p {
	color: #dfd6d6 !important;
}

.myBannerStyle4 {
	background-color: rgba(45, 45, 45, 0.2);
	padding: 60px 1px 80px 1px;
}

.aboutHeadCaption2 {
	color: #ffffff;
}

.imageBannerFrame {
	height: 100vh;
}

.myImageBanner {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#aboutContentImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aboutContentRow {
	background-color: #e5e5e5;
}

#aboutContentButton {
	background-color: none;
	width: 370px;
	height: 59px;
	background: #e5e5e5;
	border: 2px solid #2e96e1;
	color: #2e96e1;
	box-sizing: border-box;
}

.myPastorImage {
	width: 100%;
	object-fit: cover;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
}
.separator::before,
.separator::after {
	content: "";
	flex: 1;
	border-bottom: 1px groove rgb(2, 2, 2);
}

.separator:not(:empty)::before {
	margin-right: 20px;
}

.separator:not(:empty)::after {
	margin-left: 20px;
}

#footerContainer {
	margin-top: 100px;
}

#footerContainer h6 {
	font-weight: bold;
}

#footerPoints {
	font-weight: lighter;
}

.myEventBanner {
	background-color: #e5e5e5;
}

.eventContentImageFrame {
	width: 500px;
	overflow: hidden;
}

.eventContentImage {
	width: 100%;
	object-fit: cover;
	filter: brightness(85%);
}

.myIcareLeaderImageFrame {
	height: 400px;

	overflow: hidden;
}

.myIcareLeaderImage {
	height: 100%;
	object-fit: cover;
}

.mySkeletonBannerRow {
	margin-bottom: 95px;
}

.mySkeletonBanner {
	position: relative;
	top: -4px;
	border-radius: 0 !important;
}

.mySkeletonLeaderImage {
	height: 400px;
	width: 300px;
}

.mySkeletonAboutContentRow {
	height: 700px;
}
